<div class="container">
  <h1>Projeto Estufa</h1>

  <br>

  <h2> Informações do sistema </h2>

  <app-card [card]="cardTemperatura"></app-card>
  <app-card [card]="cardHumidade"></app-card>
  <app-card [card]="cardLuminosidade"></app-card>
  <app-card [card]="cardLampadaEstado"></app-card>


  <h2> Parametros </h2>

  <form class="example-form" >
    <table class="example-full-width" cellspacing="0">
      <tr>


        <div class="form-group">
          <td>
            <label for="minLumens">Mininmo Lux</label>
            <input type="number" class="form-control" [value]="minLumens" name="minLumens" [(ngModel)]="minLumens" />
          </td>

          <td>
            <label for="maxLumens">Maximo Lux</label>
            <input type="number" class="form-control" [value]="maxLumens" name="maxLumens" [(ngModel)]="maxLumens" />
          </td>

          <td>
            <label for="minTemperatura">Mininmo Temperatura</label>
            <input type="number" class="form-control" [value]="minTemperatura" name="minTemperatura" [(ngModel)]="minTemperatura" />
          </td>

          <td>
            <label for="maxTemperatura">Maximo Temperatura</label>
            <input type="number" class="form-control" [value]="maxTemperatura" name="maxTemperatura" [(ngModel)]="maxTemperatura" />
          </td>
        </div>
        <td>

          <div class="form-group">
            <input type="submit" class="btnSubmit" (click)="atualizarParametros()" value="Alterar" />
          </div>
        </td>
       

      </tr>
    </table>
  </form>

</div>